* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
}

.header #area_logo {
    float: left;
    height: 100%;
    width: 30%;
    background: #F2F2F2;
}

.header img {
    margin: 10px 50px;
    height: 64px;
    width: 250px;
}

.header #btn_anunciar {
    float: right;
    height: 100%;
}

.principal {
    width: 1200px;
    margin: auto;
}

.busca {
    width: 100%;
    height: 163px;
    background: #1C4163;
}

.busca #texto_busca {
    float: left;
    width: 34%;
    margin-left: 10px;
    margin-top: 45px;
}

.busca #texto_busca h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.busca #form_busca {
    float: right;
    width: 65%;
}

.conteudo {
    min-height: 1080px;
    text-align: center;
    overflow: auto;
}

.conteudo h2 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.left-panel {
    float: left;
    width: 30%;
    background: #F2F2F2;
    min-height: 1080px;
}

.categorias ul {
    list-style: none;
    padding: 0;
}

.categorias ul li a div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.categorias ul li a {
    color: #1C4163;
    text-decoration: none;
}

.categorias ul li a div:hover {
    background-color: #1C4163;
    color: #FFFFFF;
}

.dicas ul {
    text-align: left;
    list-style: square;
}

.dicas ul li {
    font-size: large;
    margin-bottom: 20px;
    width: 90%;
}

.dicas ul li div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.anuncios {
    float: right;
    width: 70%;
    min-height: 1080px;
}

.anuncios ul {
    list-style: none;
    padding: 0;
}

.anuncios ul li a {
    color: #1C4163;
    text-decoration: none;
}

.anuncios ul li a div {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.anuncios ul li a div:hover {
    background-color: #1C4163;
    color: #FFFFFF;
}

.footer {
    width: 100%;
    height: 73px;
    background: #1C4163;
}

.float-r {
    float: right;
}

.frm-busca-d {
    margin-top: 60px;
    margin-right: 64px;
}

.frm-busca-d input {
    height: 45px;
}

.w-500 {
    width: 500px;
}

.h2-color {
    color: #1C4163;
}

.fieldset-ib {
    float: left;
    width: 60%;
    margin-left: 15px;
    margin-right: 15px;
}