* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
}

.header #area_logo {
    float: left;
    height: 100%;
    width: 30%;
    background: #F2F2F2;
}

.header img {
    margin: 10px 50px;
    height: 64px;
    width: 250px;
}

#btn_anunciar {
    float: right;
    height: 80%;
}

#btn_anunciar a {
    display: inline-block;
    text-decoration: none;
    height: 100%;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: larger;
    color: #1C4163;
}

#btn_anunciar a:hover {
    background-color: #1C4163;
    color: #FFFFFF;
}

.principal {
    width: 1200px;
    margin: auto;
}

.busca {
    width: 100%;
    height: 163px;
    background: #1C4163;
}

.busca #texto_busca {
    float: left;
    width: 34%;
    margin-left: 10px;
    margin-top: 45px;
}

.busca #texto_busca h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.busca #form_busca {
    float: right;
    width: 65%;
}

.conteudo {
    min-height: 1080px;
    text-align: center;
    overflow: auto;
}

.conteudo h2 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.left-panel {
    float: left;
    width: 30%;
    background: #F2F2F2;
    min-height: 1080px;
}

.categorias ul {
    list-style: none;
    padding: 0;
}

.categorias ul li a div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.categorias ul li a {
    color: #1C4163;
    text-decoration: none;
}

.categorias ul li a div:hover {
    background-color: #1C4163;
    color: #FFFFFF;
}

.dicas ul {
    text-align: left;
    list-style: square;
}

.dicas ul li {
    font-size: large;
    margin-bottom: 20px;
    width: 90%;
}

.dicas ul li div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.anuncios {
    float: right;
    width: 70%;
    min-height: 1080px;
}

.anuncios ul {
    list-style: none;
    padding: 0;
}

.anuncios ul li a {
    color: #1C4163;
    text-decoration: none;
}

.anuncios ul li a div {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.anuncios ul li a div:hover {
    background-color: #1C4163;
    color: #FFFFFF;
}

.footer {
    width: 100%;
    height: 73px;
    background: #1C4163;
    color: #FFFFFF;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    height: 100%;
}

.footer a:hover {
    color: #8fb7dd;
}

.footer a div {
    margin-top: 18px;
}

.float-r {
    float: right;
}

.frm-busca-d {
    margin-top: 60px;
    margin-right: 64px;
}

.frm-busca-d input {
    height: 45px;
}

.w-500 {
    width: 500px;
}

.h2-color {
    color: #1C4163;
}

.fieldset-ib {
    float: left;
    width: 50%;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.fieldset-ib label {
    text-align: left;
}

.fieldset-ib input, select, textarea {
    height: 22px;
    border-radius: 1px solid #dddfe2;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.fieldset-ib textarea {
    height: 100px;
}

.fieldset-dados {
    width: 30% !important;
}

.icons-area {
    overflow: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.icons-area ul li {
    list-style: none;
}

.icons-area a {
    text-decoration: none;
}

.flaticon {
    float: left;
    width: 50%;
}

.icons8 {
    float: right;
    width: 50%;
}

.dados {
    text-align: left;
    margin-left: 40px;
}

.li-local {
    list-style-image: url("/static/img/icons/placeholder.png");
}

.li-mail {
    list-style-image: url("/static/img/icons/email.png");
}

.li-mail a {
    text-decoration: none;
}

.li-telefone {
    list-style-image: url("/static/img/icons/phone-call.png");
}

.cad-btn input, button {
    height: 40px;
}