<div class="categorias">
    <h2>Categorias</h2>
    <ul>
        <li><a href="/categoria/Turismo"><div><img src="/static/img/viagem-e-turismo.png" alt=""><p>Turismo</p></div></a></li>
        <li><a href="/categoria/Transportes"><div><img src="/static/img/caminhao-de-transporte.png" alt=""><p>Transportes</p></div></a></li>
        <li><a href="/categoria/Tradução"><div><img src="/static/img/traducao.png" alt=""><p>Tradução</p></div></a></li>
        <li><a href="/categoria/Saúde e Beleza"><div><img src="/static/img/cuidados-com-a-pele.png" alt=""><p>Saúde e Beleza</p></div></a></li>
        <li><a href="/categoria/Eventos e Festas"><div><img src="/static/img/eventos.png" alt=""><p>Eventos e Festas</p></div></a></li>
        <li><a href="/categoria/Babá"><div><img src="/static/img/baba.png" alt=""><p>Babá</p></div></a></li>
        <li><a href="/categoria/Serviços Domésticos"><div><img src="/static/img/limpeza-de-casa.png" alt=""><p>Serviços Domésticos</p></div></a></li>
        <li><a href="/categoria/Jardinagem"><div><img src="/static/img/jardinagem.png" alt=""><p>Jardinagem</p></div></a></li>
        <li><a href="/categoria/Informática"><div><img src="/static/img/informatica.png" alt=""><p>Informática</p></div></a></li>
        <li><a href="/categoria/Aulas Particulares"><div><img src="/static/img/icons8-teaching-64.png" alt=""><p>Aulas Particulares</p></div></a></li>
        <li><a href="/categoria/Outros"><div><img src="/static/img/icons8-question-mark-100.png" alt=""><p>Outros</p></div></a></li>
    </ul>
</div>