<div class="anuncios">
    {% if categoria %}
    <h2 class="h2-color">Últimos Anúncios em "{% print(categoria) %}"</h2>
    {% elif busca %}
    <h2 class="h2-color">Resultados para "{% print(busca) %}"</h2>
    {% else %}
    <h2 class="h2-color">Últimos Anúncios</h2>
    {% endif %}
    <ul>
        {% for c in cadastros %}
        <li>
            <a href="/anuncio/{{ c['id'] }}">
                <div>
                    <div><p><strong>{{ c['titulo'] }}</strong></p></div>
                    <div><p>{{ c['categoria'] }}</p></div>
                    <div><p>{{ c['cidade'] }}, {{ c['bairro'] }}</p></div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>