{% extends 'base.html' %}
{% block content %}
<div class="principal">
    {% include 'includes/header.html' %}
    {% include 'includes/index_busca.html' %}
    <br>
    <div>
        <p><strong>Aplicação Web desenvolvida utilizando o framework web Flask pelos integrantes do grupo 007 dos polos de Avaré e Capão Redondo</strong></p>
    </div>
    <br>
    <br>
    <div>
        <p>Este site utiliza ícones obtidos através do Flaticon e Icons8, conforme atribuições abaixo</p>
    </div>
    <div class="icons-area">
        <div class="flaticon">
            <h1>Flaticon</h1>
            <ul>
                <li><a href="https://www.flaticon.com/br/icones-gratis/viagem" title="viagem ícones">Viagem ícones criados por GOWI - Flaticon</a></li>
                <li><a href="https://www.flaticon.com/br/icones-gratis/caminhao" title="caminhão ícones">Caminhão ícones criados por Freepik - Flaticon</a></li>
                <li><a href="https://www.flaticon.com/br/icones-gratis/traducao" title="tradução ícones">Tradução ícones criados por Freepik - Flaticon</a></li>
                <li><a href="https://www.flaticon.com/br/icones-gratis/cuidados-com-a-pele" title="cuidados com a pele ícones">Cuidados com a pele ícones criados por Flat Icons - Flaticon</a></li>
                <li><a href="https://www.flaticon.com/br/icones-gratis/eventos" title="eventos ícones">Eventos ícones criados por Vectors Tank - Flaticon</a></li>
                <li><a href="https://www.flaticon.com/br/icones-gratis/baba" title="babá ícones">Babá ícones criados por Flat Icons - Flaticon</a></li>
                <li><a href="https://www.flaticon.com/br/icones-gratis/limpeza-de-casa" title="limpeza de casa ícones">Limpeza de casa ícones criados por Dimas Anom - Flaticon</a></li>
                <li><a href="https://www.flaticon.com/br/icones-gratis/pa" title="pá ícones">Pá ícones criados por Freepik - Flaticon</a></li>
                <li><a href="https://www.flaticon.com/br/icones-gratis/informatica" title="informática ícones">Informática ícones criados por justicon - Flaticon</a></li>
                <li><a href="https://www.flaticon.com/free-icons/location" title="location icons">Location icons created by Freepik - Flaticon</a><a href="https://www.flaticon.com/br/icones-gratis/informatica" title="informática ícones">Informática ícones criados por justicon - Flaticon</a></li>
                <li><a href="https://www.flaticon.com/free-icons/mail" title="mail icons">Mail icons created by Freepik - Flaticon</a></li>
                <li><a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons">Facebook icons created by Freepik - Flaticon</a></li>
                <li><a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons">Instagram icons created by Grow studio - Flaticon</a></li>
            </ul>    
        </div>
        <div class="icons8">
            <h1>Icons8</h1>
            <ul>
                <li><a target="_blank" href="https://icons8.com/icon/Gv7XSS9nvSkL/teaching">Teaching</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></li>
                <li><a target="_blank" href="https://icons8.com/icon/111415/question-mark">Question Mark</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></li>
            </ul>        
        </div>        
    </div>
    {% include 'includes/footer.html' %}
</div>
{% endblock %}